.about-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/about-body.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  // height: 90vh;
  min-height: calc(100vh - var(--navHeight) - 48px);
  margin-top: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-body h1 {
  font-size: 45px;
  padding-bottom: 20px;
  padding-top: 0;
}

.about-text {
  font-size: 20px;
  width: 75%;
}