// @import '~bulma/bulma.sass';

// @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');

:root {
  --navHeight: 59px;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
}

.navbar {
  // border: 2px solid blue;
  padding: 20px 0;
  background-color: #000;

  .navbar-item {
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
  }
}

.categories-section {
  background-image: url('../assets/pub.jpeg');
  background-size: cover;
  height: calc(100vh - var(--navHeight));

  h1 {
    margin: 0;
    padding: 30px;
    color: #fff;
  }

  .categories-container {
    // border: 2px solid green;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .category-link {
      text-decoration: none;
      color: #fff;

      .category {
        border: 2px solid orange;
        padding: 20px 30px;
        margin: 10px 20px;
        border-radius: 10px;
        text-transform: capitalize;
        background-color: #000;
        font-size: 18px;
        transition: all 0.25s ease-in-out;

        &:hover {
          background-color: orange;
          color: #000;
          border: 2px solid #000;
          transform: scale(1.3);
        }
      }
    }
  }
}

.category-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  h1 {
    margin: 0;
    padding: 30px;
    color: #fff;
  }
}
.category-container.artliterature {
  background-image: url('../assets/artliterature.jpeg');
}
.category-container.entertainment {
  background-image: url('../assets/entertainment.jpeg');
}
.category-container.fooddrink {
  background-image: url('../assets/fooddrink.jpeg');
}
.category-container.general {
  background-image: url('../assets/general.jpeg');
}
.category-container.geography {
  background-image: url('../assets/geography.jpeg');
}
.category-container.historyholidays {
  background-image: url('../assets/historyholidays.jpeg');
  background-position: center bottom;
}
.category-container.language {
  background-image: url('../assets/language.jpeg');
}
.category-container.mathematics {
  background-image: url('../assets/mathematics.jpeg');
}
.category-container.music {
  background-image: url('../assets/music.jpeg');
}
.category-container.peopleplaces {
  background-image: url('../assets/peopleplaces.jpeg');
}
.category-container.religionmythology {
  background-image: url('../assets/religionmythology.jpeg');
}
.category-container.sciencenature {
  background-image: url('../assets/scienceandnature.jpeg');
}
.category-container.sportsleisure {
  background-image: url('../assets/sportsleisure.jpeg');
}
.category-container.toysgames {
  background-image: url('../assets/toysgames.jpeg');
}
.category-container.myQuiz {
  background-image: url('../assets/myquiz.jpeg');
}

.about-body {
  background-image: url('../assets/about-body.jpeg'),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #fff;
  height: 90vh;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-body h1 {
  font-size: 45px;
}

.about-text {
  font-size: 20px;
  width: 75%;
}

.all-questions-container,
.randomQuizContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px;
  padding-bottom: 20px;
  // border: 2px solid blue;
  justify-content: space-around;
}

.questionContainer {
  // border: 2px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  background-color: #000;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 3px solid azure;
  transition: all 0.25s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: orange;
    color: #000;
    border: 2px solid #000;
    transform: scale(1.15);

    #answer {
      color: purple;
    }
  }
}

#answer {
  // border: 2px solid orange;
  color: orange;
}

// this is not working yet
@media (max-width: 725px) {
  .categories-section .categories-container .category-link .category {
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px 15px;
    // background-color: blue;
  }
}
