@media (max-width: 585px) {
  .categories-section .categories-container .category-link .category {
      padding: 15px 25px;
    }
    
  .navbar {
    padding: 15px 0;
    .navbar-item {
      padding: 0 7px;
    }
  }

  .my-quiz {
    .num-saved-questions {
      font-size: 15px;
      top: -7px;
      right: -3px;
    }
  }

  .categories-container, 
  .myQuiz-section, 
  .category-container {
    min-height: calc(100vh - var(--navHeight) - var(--footerHeight) + 2px);
  }

  .home-body, .about-body {
    min-height: calc(100vh - var(--navHeight) - var(--footerHeight) - 37px);
  }
}

// mobile
@media (max-width: 495px) {
  .navbar {
    padding-bottom: 15px;

    .navbar-item {
      font-size: 14px;
    }
  }
  .home-body h1 {
    font-size: 60px;
  }

  .about-body h1 {
    font-size: 38px;
  }
  .about-text {
    font-size: 16px;
  }

  .generate-quiz {
    font-size: 13px; 
    padding: 2px 6px;
    margin: 0 5px;
    margin-bottom: 15px;
  }

  .my-quiz {
    .num-saved-questions {
      font-size: 14px;
    }
  }

  .footer {
    font-size: 12px;
  }
}

// small mobiles
@media (max-width: 350px) {
  .navbar {
    padding: 8px;
    .navbar-item {
      font-size: 11px;
    }
  }

  .home-body, .about-body {
    min-height: calc(100vh - var(--navHeight) - var(--footerHeight) - 19px);
  }

  .categories-container, 
  .myQuiz-section, 
  .category-container {
    min-height: calc(100vh - var(--navHeight) - var(--footerHeight) + 21px);
  }
}